<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2ABjIHj0SHPW_av3mNhpEOvQkjqO1aRE</string>
	<key>GCM_SENDER_ID</key>
	<string>22544281502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sahinkarahan.Application</string>
	<key>PROJECT_ID</key>
	<string>nftscout-51cd4</string>
	<key>STORAGE_BUCKET</key>
	<string>nftscout-51cd4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22544281502:ios:310607173e8cf79cd1308f</string>
</dict>
</plist>